@media screen and (max-width: 1155px) {
  .navbar .login p {
    display: none;
  }
}

@media screen and (max-width: 1124px) {
  /* html {
    font-size: 12px;
  } */

  .container {
    overflow: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    padding: 0 5rem;
  }

  .navbar .navlist,
  .navbar .login {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .news-boxes {
    display: flex;
    flex-direction: column;
    height: 45rem;
  }

  .outerbox1 {
    height: 10rem;
    height: 31rem;
  }

  .outerbox2 {
    display: flex;
  }

  .footer-copyright {
    width: 100%;
  }

  .footer-copyright {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 950px) {
  .related-stories-box {
    flex-direction: column;
  }

  .related-stories-box .box {
    flex-direction: row;
    min-height: 10rem;
    width: 100%;
  }

  .related-img {
    width: 12rem;
    height: 11rem;
  }

  .related-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .related-data .box-desc {
    line-height: 2rem;
  }

  .related-readmore {
    display: none;
  }

  .update-and-share {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .share-options {
    margin: 1rem 0;
  }

  .newsImage {
    margin: 2rem 0;
    object-fit: contain;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    flex-direction: row;
    padding: 0;
    font-size: 0.8rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
  }

  .left-section-item {
    align-items: center;
    height: 4rem;
    width: max-content;
  }

  .time-box {
    order: 1;
    padding-left: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    min-height: 4rem;
  }

  .news-container {
    grid-template-columns: 1fr;
  }

  .content-wrapper {
    width: 95%;
    margin: auto;
  }
  .main-news-content {
    padding: 0;
  }

  .news-box {
    width: 90vw;
  }

  .related-stories-box .box {
    width: 90vw;
  }

  .right-news-content{
    padding: 0;
  }

  .right-news-title{
    margin: 2rem 0;
  }
}

@media screen and (max-width: 800px) {
  .date-weather-box {
    flex-direction: column-reverse;
    max-height: max-content;
  }

  .weather-box {
    width: 100%;
  }

  .weather-sections {
    gap: 0;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
  }

  .footer .box4,
  .footer .box3,
  .footer .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-top: 2px solid var(--background-light-variant);
    width: 90%;
  }

  .footer-copyright {
    padding-left: 0.5rem;
  }

  .secondary-conatiner {
    display: flex;
    flex-direction: column;
  }

  .secondary-conatiner .right-section {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .market-data-boxes {
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .marketdata {
    overflow: hidden;
  }

  .box:nth-child(3),
  .box:last-child {
    display: none;
  }

  .news-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  .errorPage-container {
    width: 49rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }

  .weather-img {
    width: 30px;
  }

  .weather-temp {
    font-size: 0.8rem;
  }

  .weather-text {
    font-size: 0.8rem;
  }

  .newsImage {
    height: 45vh;
    width: 95vw;
    margin: 0;
  }

  .news-container {
    overflow-x: hidden;
  }

  .related-stories-box .box {
    flex-direction: row;
    min-height: 6rem;
    align-items: center;
    padding: 0.5rem;
  }
  .related-img {
    height: 12vh;
    width: 26vw;
    border-radius: 5px;
}

  .related-data {
    flex-direction: row;
  }

  .related-data .box-desc {
    display: none;
  }

  .connect-with-us {
    flex-direction: column;
    height: 10rem;
  }

  .connect-box {
    min-height: 3rem;
    width: 90vw;
    margin-bottom: 0.5rem;
  }

  .news-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .related-stories-box {
    align-items: center;
  }

  .connect-box {
    width: 90%;
  }

  .connect-with-us {
    align-items: center;
  }

  .related-stories-box .box-title {
    width: 18rem;
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }

  .navbar {
    padding: 0 3rem;
  }

  .right-section {
    display: none;
  }

  .left-section {
    row-gap: 0;
    column-gap: 0.2rem;
  }

  .left-section-item {
    margin: 0.5rem;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-image {
    width: 100%;
  }

  .newspaper-section {
    width: 95%;
  }

  .pdf-section {
    width: 100%;
  }

  .news-title {
    font-size: 1.5rem;
  }

  .weather-box {
    height: 5rem;
  }

  .related-data .box-title {
    font-size: 0.85rem;
  }

  .related-stories-box .box {
    min-height: 4rem;
  }

  .related-data .box-title {
    width: 20rem;
  }

  .related-img {
    height: 5rem;
    width: 14.5rem;
  }

  .connect-with-us {
    width: 100vw;
  }

  .right-news-title {
    font-size: 1.3rem;
  }

  .home-Icon {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .right-news-content {
    width: 80%;
  }

  .news-list {
    align-items: flex-start;
  }

  .related-stories-box {
    align-items: center;
    width: 85%;
    margin: 0;
  }

  .related-stories-box .box-title {
    width: 15rem;
  }

  .related-img {
    width: 21.5rem;
  }

  .connect-box {
    width: 90vw;
  }
}
