

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  font-family: "Poppins";
  overflow-x: hidden;
  padding-top: 5.5rem;
  transition: all 0.5s ease;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 5.5rem;
}

:root{
  --background-color: #4B4453;
  --background-light-variant: #756e7e;
  --primary-color: white;
  --border: 2px solid black;
  --box-shadow-light: 0 0 0.5rem #756e7e7f;
  --box-shadow-dark: 0 0 0.7rem rgba(0, 0, 0, 0.8 );
}


/* REUSED COMPONENTS */
.custom-scroolbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-top: 2rem;
}

.custom-scroolbar::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 4px;
}

.custom-scroolbar::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 4px;
}

.content-wrapper{
  width: 85%;
  margin: auto;

}

 /* DESIGNING THE NAVBAR */

 nav{
  background-color: var(--background-color);
  color: var(--primary-color);
  position: sticky;
  height: 4rem;
  top: 0;
  left: 0;
  z-index: 10;
}

 a{
  color: white;
}

.navbar{
  max-width: 100rem;
  height: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 2rem;
}

.logo{

  height: 3.7rem;
  width: 4.25rem;
  background: url(./Assets/logo.png);
  background-size: cover;
}


.navbar .navlist{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
  height: 4rem;
  padding: 0 2rem 0 0;
  cursor: pointer;
}

.home-Icon{
  height: 1.5rem;
  width: 1.5rem;
  display: none;
}


.hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  display: none;
}


.navbar .navitems{
  position: relative;
  width: max-content;
  cursor: pointer;
}

.navbar .navitems:hover{
  transform: scale(1.08);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.navbar .navitems::after, .second-nav-item::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 25px;
  left: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar .navitems:hover::after, .second-nav-item:hover::after {
  width: 100%;
}

.navbar .navitems.active::after{
  width: 100%;
}


.addNewsBtn:hover{
  background-color: rgb(198, 194, 202)
}

.search-btn{
  height: 100%;
  width: 2.5rem;
  color: white;
  background-color: var(--background-light-variant);
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.search-box{
  width: 30rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  outline: none;
}

.search-area {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0 6px 6px 0;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.search-icon{
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* DESIGNING THE SIDEBAR */
.sidebar{
  height: 100vh;
  width: 20rem;
  background: var(--background-color);
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0.5rem 0rem;
  transition: all 0.5s ease;
}

.sidebar.active{
  right: 0;
}

.sidebar.inactive{
  right: -20rem;
}

.close-btn{
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 3rem;
  padding-right: 2rem;
}

.sidebar .navlist{
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
  padding: 0;
}

.sidebar .navitems{
  width: 100%;
  padding: 2rem;
  margin-top: 0;
  transition: all 0.4s ease;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.sidebar .navitems:hover{
  background: var(--background-light-variant);
}

.sidebar .navitems.active{
  background-color: var(--background-light-variant);
}



/* DESIGNING THE SECOND NAV */

.second-nav{
  width: 100%;
  max-width: 100rem;
  border-top: 1px solid white;
  height: 0;
  margin-bottom: 1rem;
  position: fixed;
  top: 4rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.second-nav.active{
  height: 4rem;
}


.second-nav-list{
  display: flex;
  gap: 3rem;
  height: 100%;
  align-items: center;
}

.second-nav-item{
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.second-nav-item.active{
  opacity: 1;
  pointer-events: auto;
}

.second-nav-item.inactive{
  color: black;
  opacity: 0;
  pointer-events: none;
}

.second-nav-close{
  display: none;
}

.second-nav-close{
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem 0.65rem;
  font-size: 1.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


.search-icon.active{
  background-color: var(--background-light-variant);
}
.search-icon.inactive{
  background-color: transparent;
}

.second-nav-close:hover, .search-icon:hover{
  background-color: var(--background-light-variant);
}

.search-icon{
  padding: 1rem;
  border-radius: 50%;
}







/* DESIGNING THE FOOTER SECTION */

.footer{
  height: max-content;
  width: 100vw;
  padding: 1rem 0;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color: white;
}

.footer-address{
  width: 85%;
  color: #cacaca;
  pointer-events: none;
}

.footer-title{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem 0;
  pointer-events: none;
}

.footer-title span{
  font-weight: 700;
  pointer-events: none;
}
.footer-box{
  border-right: 2px solid var(--background-light-variant);
  padding: 1rem 2rem;
}

.footer-box a{
  color: white;
}

.footer-list-item a{
  color: white;
  line-height: 2.3rem;
}

.footer-list-item a:hover{
  text-decoration: underline;
}


.footer-social{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.footer-social i{
  font-size: 1.2rem;
}

.footer-copyright{
  height: 10vh;
  background-color: var(--background-color);
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--background-light-variant);
}


/* WEATHER AND TIME BOX DESIGN */

.date-weather-box{
  width: 100%;
  min-height: 8rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.weather-box{
  height: 10rem;
  width: max-content;
  padding: 0.5rem 0.8rem;
}

.weather-sections{
  width: 100%;
  height: max-content;
  display: flex;
  gap: 0.5rem;
  padding-top: 0.2rem;
}

.weather-title{
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0.3rem;
}

.weather-day{
  height: max-content;
  width: max-content;
  border-radius: 0.8rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #756e7e7f;
}

.time-box{
  height: 100%;
  width: 20rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #756e7e7f;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-img{
  width: 60px;
  aspect-ratio: 1 / 1;
  background-size: cover;
}

.weather-details{
  height: max-content;
  width: 4.75rem ;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.weather-temp{
  font-weight: 800;
  font-size: 1rem;
}


/* DESIGNING THE CONTENT AREA AFTER NAVBAR */

.content-box-1{
  width: 100%;
  margin-bottom: 1rem;
}

.content-title{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem;
  pointer-events: none;
}

.content-title span{
  font-weight: 700;
  pointer-events: none;
}

.news-boxes{
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.outerbox1{
  height: 100%;
  box-shadow: var(--box-shadow-dark);
  border-radius: 10px;
  overflow: hidden;
  
}

.outerbox2{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0.8rem;
  gap: 0.8rem;
}

.outerbox2 .box{
  box-shadow: var(--box-shadow-dark);
  border-radius: 10px;
  overflow: hidden;
}

.outerbox2 .box iframe{
  height: 100%;
  width: 100%;
}

.outerbox1 iframe{
  height: 100%;
  width: 100%;
}



/* DESIGNING THE SECOND CONTENT BOX */

.content-box2{
  margin-bottom: 2rem;
}

.news-boxes-2,.news-boxes-3,.news-boxes-4{
  width: 100%;
  height: 28rem;
  display: flex;
  overflow-x: scroll;
  padding:  0 1rem 0.5rem 1rem;
  column-gap: 2rem;
}

.box{
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  scale: 0.95;
  transition: all 0.4s ease;
}


.box-img{
  width: 100%;
  height: 12rem;
  background-size: cover;
}

.box-title{
  font-weight: 700;
  padding-left: 2rem;
  font-size: 1rem;
  width: 22rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.8rem;
}

.box-desc{
  font-size: 1rem;
  width: 23rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 29px;
  padding-left: 2rem;
}

.read-more{
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  position: absolute;
  bottom: 10px;
  left: 15px;
  cursor: pointer;
  font-weight: 300;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.read-more:hover{
  color: white;
  background-color: var(--background-light-variant);
}

.boxes-wrapper{
  display: flex;
  width: 100rem;
}


/* DESIGNING THE LOADER */
.loader-box {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 8rem;
  aspect-ratio: 1 / 1;
  border-top: 6px solid var(--background-light-variant);
  border-bottom: 10px solid transparent;
  border-left: 6px solid var(--background-light-variant);
  border-right: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* DESIGNING THE INDIVIDUAL NEWS PAGE */
.news-container{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}

.main-news-content{
  padding: 1rem 3.5rem;
}

.news-title{
  position: relative;
  width: 100%;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

.news-title::before{
  content: "";
  height: 0.2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
}

.news-summary{
  font-weight: 450;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.update-and-share{
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  
}

.share-options{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.newsImage{
  height: 30rem;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.news-content {
  margin: 2rem 0;

}

.news-content a{
  pointer-events: none;
  color: black;
}

.createdAt{
  display: flex;
  margin-bottom: 1rem;
}

.categories{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.category-box{
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}

.category-name{
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--background-light-variant);
  color: white;
}

.connect-with-us{
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.connect-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  scale: 0.95;
  transition: all 0.4s ease;
}

.connect-box:hover{
  scale: 1;
}

.connect-box.whatsapp{
  background-color: #25d366;
}

.connect-box.facebook{
  background-color:  #316FF6;
}

.connect-box.youtube{
  background-color: #CD201F;
}

.related-stories-box{
  margin: auto;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.related-stories-box .box{
  min-height: 26rem;
}

.related-stories-box .box-title{
  margin-bottom: 0.5rem;
}

.more-stories-title{
  position: relative;
  padding-left: 0.7rem;
  margin: 2rem 0;
}

.more-stories-title::before{
  content: "";
  height: 100%;
  width: 0.5rem;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

/* DESIGNING THE RIGHT SIDE AREA OF NEWS PAGE */
.right-news-content{
  padding: 1rem 0.5rem;
}

.right-news-title{
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 0.7rem;

}

.right-news-title::before{
  content: "";
  height: 100%;
  width: 0.5rem;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.news-list{
  width: 100%;
}

.right-newsImage{
  height: 5rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 5px;
}

.news-box{
  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  padding-left: 0.5rem;
  gap: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  scale: 0.95;
  transition: all 0.4s ease;
}

.news-box:hover{
  scale: 1;
}

.right-news-summary{
  font-size: 0.8rem;
    height: 100%;
    width: 100%;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* DESIGING THE ERROR PAGE */
.errorPage-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem 1rem;
  gap: 2rem;
  align-items: center;
  margin: auto;
}

.errorPage-container h2{
  text-align: center;
}

.errorImage{
  height: 30rem;
  width: 40rem;
}


/* DESIGNING THE LOCAL NEWS PAGE */
.main-container{
  display: grid;
  min-height: 100vh;
  width: 85%;
  margin: auto;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 2rem;

}

.secondary-conatiner{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}



.left-section{
  padding: 4rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.left-section-item{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.7rem 1rem;
  gap: 0.5rem;
  color: white;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--background-color);
  transition: all 0.4s ease;
  position: relative;
  z-index: 5;
}

.left-section-item:hover{
  background-color: var(--background-light-variant);
}

.left-section-item.active{
  background-color: var(--background-light-variant);
}

.left-section-item svg{
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 3;
}

.left-section-link{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
}

.right-section{
  padding: 1rem 0 0 0.5rem;
}

.middle-section{
  height: 200vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.middle-section::-webkit-scrollbar {
  display: none;
}

.middle-card{
  width: 90%;
  height: max-content;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3rem; */
  cursor: pointer;
  margin: 0.8rem 0;
}



.card-title{
  font-weight: 700;
  padding: 0 0.5rem;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.8rem 0;
}

.card-image{
  height: 18rem;
  width: 85%;
  border-radius: 5px;
}

.card-summary{
      font-size: 1rem;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 25px;
      margin: 0.8rem 0;
      padding:0 0.6rem;
}

.card-details{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
  padding: 0 0.5rem;
  margin: 0.8rem 0;
  align-items: center;
}

.card-category{
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

/* DESIGNING THE VIDEO SECTION */
.videobox{
  width: 85%;
  min-height: 20rem;
  margin: 1rem 0 2rem 0;
  border-radius: 5px;
  box-shadow: var(--box-shadow-light);
}


/* DESIGNING THE NEWSPAPER SECTION */

.newspaper-container {
  max-width: 1100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 0;
}

.newspaper-section{
  width: 70%;
  margin: auto;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.newspaper-section::-webkit-scrollbar{
  display: none;
}

.newspaper-card{
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--background-light-variant);
  color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.newspaper-details{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.main-newspaper-content{
  padding: 0;
}

.newspaper-titles{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.newspaper-deleteBtn{
 padding: 0.8rem;
 border-radius: 50%;
 transition: all 0.4s ease;
}

.newspaper-deleteBtn:hover{
  background-color: var(--hover-color);
}

.newspaper-card button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.single-newspaper-container{
  width: 100%;
}


.pdf-section{
  height: 150vh;
  overflow-y: auto;
}

.pdf-section::-webkit-scrollbar{
  display: none;
}

.pdf-container{
  width: max-content;
  margin: auto;
}


/* DESIGNING THE SEARCH AREA PAGE */

.search-bar{
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--background-light-variant);
  outline: none;
  position: relative;
}

.search-box{
  width: 90%;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.search-submit-btn{
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.search-submit-btn:hover{
  background: var(--background-light-variant);
}

.parent-search{
  position: relative;
  width: 80%;

}

.clear-search-btn{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background:transparent;
  border: none;
  outline: none;
  font-size: 1.15rem;
  cursor: pointer;
}

.search-result-box{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

.search-result{
  width: max-content;
  height: 29rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  scale: 0.95;
  transition: all 0.4s ease;
}